.container-fluid {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  float: left;
  margin-left: 2%;
} */

.App-header {
  background-color: #1DA1F2;
  width: 120%;
  height: 10%;
  color: white;
}

.profile-img  {
  max-width: 70px;
  margin-top: 8px;
  margin-bottom: 4px;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.App-footer {
  position:fixed;
  bottom: 0px;
  width: 100%;
  height: 10%;
  background-color: #1c91d8;
}

.Dropdown{
    padding-left: 0;
}

.Slider {
    margin: 20px 0;
    margin-left: 40px;
}

.rheostat {
  overflow: visible;
}

.rheostat-background {
  background-color: #fcfcfc;
  border: 1px solid #d8d8d8;
  position: relative;
}

.rheostat-progress {
  background-color: #abc4e8;
  position: absolute;
}

.rheostat-handle {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 20%;
  height: 24px;
  outline: none;
  z-index: 2;
  width: 24px;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #dadfe8;
}

#tweet-list{
    margin: 2% 0;
}
