.container {
  background-color: #fff;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "footer";
}

header {
  grid-area: header;
  background-color: #1DA1F2;
  color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 80% 20%;
  grid-template-areas: "title profile";
}

.title{
  grid-area: title;
  margin-left: 5%;
}

.profile{
  grid-area: profile;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}

.profile-img  {
  width: 100%;
  max-width: 70px;
  border-radius: 50%;
}

.profile>p{
  margin: 0;
}

.main{
  grid-area: content;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  position:fixed;
  bottom: 0px;
  width: 100%;
  background-color: #1c91d8;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "menu slider";

  justify-content: center;
  align-items: center;
}

.dropdown{
  grid-area: menu;
}

.slider{
  grid-area: slider;
  width: 95%;
  margin: auto 2%;
}

/* link styles */
a:link {
  color: #4579fb;
  text-decoration: none;
}

a:visited {
  color: #4579fb;
  text-decoration: none;
}

a:hover {
  color: #4579fb;
  text-decoration: underline;
}

a:active {
  color: #4579fb;
  text-decoration: underline;
}
