#counts{
  margin-left: 10%;
  margin-right: 3%;
}

#media-img{
  width: 80%;
  border-radius: 3%;
}

.tweet{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 5% 95%;
  grid-template-areas: "EMPTY retweet" "tweet-img tweet";
  margin: 1% 5%;
}

.retweet{
  grid-area: retweet;
}

.tweet>a{
  grid-area: tweet-img;
  width: 60%;
}

.tweet>div{
  grid-area: tweet;
}
