.mediaImg {
  max-width:400px;
}

.profileImg  {
  max-width: 100px;
  float:right;
  border-radius: 50%;
}

div.mediaImgContainer {
  display: inline-block;
}

.rectangular {
  -webkit-clip-path: inset(30px 10px 30px 10px);
  clip-path: inset(0px 100px 0px 100px);
}
